<chart>
id=132185852439221780
symbol=[DAX30]
period=15
leftpos=8922
digits=2
scale=4
graph=1
fore=0
grid=1
volume=0
scroll=1
shift=0
ohlc=1
one_click=0
one_click_btn=1
askline=0
days=0
descriptions=0
shift_size=20
fixed_pos=0
window_left=0
window_top=0
window_right=480
window_bottom=281
window_type=3
background_color=16777215
foreground_color=0
barup_color=0
bardown_color=0
bullcandle_color=16777215
bearcandle_color=0
chartline_color=0
volumes_color=255
grid_color=10061943
askline_color=17919
stops_color=17919

<window>
height=100
fixed_height=0
<indicator>
name=main
</indicator>
</window>

<expert>
name=MACD Sample
flags=339
window_num=0
<inputs>
TakeProfit=50.0
Lots=0.1
TrailingStop=30.0
MACDOpenLevel=3.0
MACDCloseLevel=2.0
MATrendPeriod=26
</inputs>
</expert>
</chart>

