<chart>
id=132185824102399730
comment=MovingAverageScheme_CK testing with TakeProfit=2000000; StopLoss=5000; AdaptedOrderManagement=0; Lots=1; Lot_size=0.1; Risk=2; sst_btd_mode=0; sst_str_mode=0; st_btd_mode=0; st_str_mode=0; mt_btd_mode=0; mt_str_mode=0; lt_btd_mode=0; lt_str_mode=0; sst_eq
symbol=EURUSD
period=15
leftpos=0
digits=5
scale=8
graph=0
fore=0
grid=1
volume=0
scroll=0
shift=1
ohlc=1
one_click=0
one_click_btn=0
askline=0
days=0
descriptions=0
shift_size=20
fixed_pos=32
window_left=44
window_top=44
window_right=1024
window_bottom=311
window_type=3
background_color=0
foreground_color=16777215
barup_color=65280
bardown_color=65280
bullcandle_color=0
bearcandle_color=16777215
chartline_color=65280
volumes_color=3329330
grid_color=10061943
askline_color=255
stops_color=255

<window>
height=100
fixed_height=0
<indicator>
name=main
</indicator>
<indicator>
name=Moving Average
period=266
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=233
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=200
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=100
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=50
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=34
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=24
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=12
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=5
shift=0
method=1
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
</window>
</chart>

