<chart>
id=132182712042273070
symbol=GBPUSD
period=240
leftpos=5786
digits=5
scale=4
graph=0
fore=0
grid=1
volume=0
scroll=1
shift=0
ohlc=1
one_click=1
one_click_btn=1
askline=0
days=0
descriptions=0
shift_size=20
fixed_pos=0
window_left=554
window_top=0
window_right=1108
window_bottom=228
window_type=1
background_color=0
foreground_color=16777215
barup_color=65280
bardown_color=65280
bullcandle_color=0
bearcandle_color=16777215
chartline_color=65280
volumes_color=3329330
grid_color=10061943
askline_color=255
stops_color=255

<window>
height=100
fixed_height=0
<indicator>
name=main
</indicator>
<indicator>
name=Moving Average
period=14
shift=0
method=0
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
</window>
</chart>

