<chart>
id=132182712042596080
symbol=USDJPY
period=240
leftpos=5848
digits=3
scale=8
graph=1
fore=1
grid=1
volume=0
scroll=1
shift=0
ohlc=1
one_click=1
one_click_btn=1
askline=0
days=0
descriptions=0
shift_size=20
fixed_pos=0
window_left=554
window_top=228
window_right=1108
window_bottom=456
window_type=1
background_color=0
foreground_color=16777215
barup_color=65280
bardown_color=65280
bullcandle_color=0
bearcandle_color=16777215
chartline_color=65280
volumes_color=3329330
grid_color=10061943
askline_color=255
stops_color=255

<window>
height=100
fixed_height=0
<indicator>
name=main
</indicator>
</window>

<window>
height=50
fixed_height=0
<indicator>
name=Commodity Channel Index
period=14
apply=5
color=11186720
style=0
weight=1
levels_color=12632256
levels_style=2
levels_weight=1
level_0=-100.00000000
level_1=100.00000000
period_flags=0
show_data=1
</indicator>
</window>
</chart>

